{% extends "layout.html" %}

{% block title %}
    Debugger
{% endblock %}

{% block main %}
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
          <table class="table table-striped" style="text-align:left">
            <tbody>
                {% for d in candidate%}
                    <tr>
                        <td>
                            {{d[0]}}
                        </td>
                        <td>
                            {{d[1]}}
                        </td>
                        <td>
                            {{d[2]}}
                        </td>
                        <td>
                            {{d[4]}}
                        </td>
                        <td>
                            {{d[5]}}
                        </td>
                        <td>
                            {{d[6]}}
                        </td>
                        <td>
                            {{d[7]}}
                        </td>
                        <td>
                            {{d[8]}}
                        </td>
                        <td>
                            {{d[9]}}
                        </td>
                        <td>
                            {{d[10]}}
                        </td>
                        <td>
                            {{d[11]}}
                        </td>
                        <td>
                            {{d[12]}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <table class="table table-striped" style="text-align:left">
              <tbody>
                  {% for d in user%}
                      <tr>
                          <td>
                              {{d[0]}}
                          </td>
                          <td>
                              {{d[1]}}
                          </td>
                          <td>
                              {{d[2]}}
                          </td>
                          <td>
                              {{d[4]}}
                          </td>
                          <td>
                              {{d[5]}}
                          </td>
                          <td>
                              {{d[6]}}
                          </td>
                          <td>
                              {{d[7]}}
                          </td>
                          <td>
                              {{d[8]}}
                          </td>
                          <td>
                              {{d[9]}}
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>

  {% endblock %}